.App {
  text-align: center;
}

input {
  border: solid #cbd5e0 1px !important;
  background-color: unset !important;
  border-radius: 0.25rem !important;
  height: 2.5rem !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

input:focus {
  border-color: rgba(59, 130, 246) !important;
  outline: none !important;
}

button {
  color: #FFFFFF !important;
  font-size: 0.875rem !important;
  border-radius: 0.25rem !important;
  line-height: 1.25rem !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

button:focus {
  outline: none !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-track {
  background: hsla(0, 0%, 100%, 0.08);
}

::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}